body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.35em;
    /* background: radial-gradient(circle, #4961C147 38%, #5246E28F 100%); */
    background: radial-gradient(circle, #bdcdf5 38%, #DDEAFF 100%);
}

.logo_img{
    width: 130px;
    
}

.login_form{
    display: flex;
    flex-direction: column;
    
    gap: 1.35em;
}

.login_form__inputs{
    display: flex;
    align-items: center;
    gap: 1em;
}

.login_form__inputs label {
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    /* color: #faffe2; */
    color: #7a37ff;
    /* text-shadow: 2px 2px 2px rgba(53, 53, 53, 0.518); */
    letter-spacing: 2px;
}

.login_form__inputs input {
    margin-left: auto;
    height: 35px;
    width: 250px;
    border: 0px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(164, 163, 163, 0.41),
    inset 3px 3px 3px 0 rgba(225, 225, 225, 0.421);
    text-indent: 0.5em;
}

.log_in_btn{
    border: 1px solid transparent;
    background-color: #59D0F6;
    width: max-content;
    padding: 0.5em 1em;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 500px;
    margin-left: auto;
    margin-top: 1em;
    text-shadow: 1px 1px 5px rgb(58, 58, 58);
    box-shadow: 5px 5px 5px 0 rgba(123, 123, 123, 0.47),
    inset 3px 3px 3px 0 rgba(79, 79, 79, 0.5);
    cursor: pointer;
}

.log_in_btn:hover,
.log_in_btn:focus{
    outline: none;
    background-color: #9da1fe;
}

.res_message{
    font-size: 1rem;
    color: rgb(248, 86, 17);
    font-weight: 600;
    margin-right: auto;
}

.res_message:empty{
    display: none;
}